<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waiting for {{ .org }}/{{ .repo }}/{{ .commit }}....</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script>

            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            // routinely check if app is available, unless redirect is disabled
            if ( getParameterByName("redirect") != "false" ) {
                setInterval(
                    function() {
                        $.getJSON("/health/{{ .org }}/{{ .repo }}/{{ .commit }}",
                        function(json){ 
                            if (json.up) {
                                // this app is now up (available), redirect to it
                                window.location.href = '/appByCommit/{{ .org }}/{{ .repo }}/{{ .commit }}';
                            }
                        });
                    }, 5000);
            }

            // stream app logs to the browser
            // TODO: Support xhr polling for browsers that don't support server-sent events
            // https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events
            var source = new EventSource('/logs/{{ .org }}/{{ .repo }}/{{ .commit }}');
            source.addEventListener('log', function(e) {
                var autoscroll = (window.innerHeight + window.scrollY) >= document.body.scrollHeight
                $("#logs").append(e.data + "<br />")
                if (autoscroll) {
                    document.body.scrollTop = document.body.scrollHeight;
                }
            }, false);
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ .org }}/{{ .repo }}: {{ .commit }}</a>

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li>
                            <a href="/appByCommit/{{ .org }}/{{ .repo }}/{{ .commit }}" class="">Refresh</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div style="margin-top: 30px" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="logs"></div>
            </div>
        </div>
    </body>
</html>
