<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Waiting for {{ .org }}/{{ .repo }}/{{ .branch }}....</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script>
            // routinely check if app is available
            setInterval(
                function() {
                    $.getJSON("/health/{{ .org }}/{{ .repo }}/{{ .branch }}",
                    function(json){ 
                        if (json.up) {
                            // this app is now up (available), redirect to it
                            window.location.href = '/app/{{ .org }}/{{ .repo }}/{{ .branch }}';
                        }
                    });
                }, 5000);

            // stream app logs to the browser
            var oReq = new XMLHttpRequest();
            oReq.onreadystatechange = function()
            {
                var response = this.responseText.replace(/\n/g, '<br/>');
                $("#logs").html(response);
                document.body.scrollTop = document.body.scrollHeight;
            }
            oReq.open("get", "/logs/{{ .org }}/{{ .repo }}/{{ .branch }}", true);
            oReq.send();
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{ .org }}/{{ .repo }}: {{ .branch }}</a>

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li>
                            <a href="/app/{{ .org }}/{{ .repo }}/{{ .branch }}" class="">Refresh</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div style="margin-top: 30px" class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="logs"></div>
            </div>
        </div>
    </body>
</html>
